/*All main & Section style is will be here*/

/*Main CSS*/
main {
    flex: 111111;
    padding: 0px;
    margin: 0px;
    margin-right: 5px;
    width: 100%;
    background-color: black;
    color: white;
}
